/__MACOSX
/__pycache__
/meeting1
*.tmp
*.[1-9]
*.a
*.aux
*.cp
*.exe
*.msi
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
*.o
.sdk
*.gcda
*.gcno
*.gcov
*.tps
